.theatre-bar {
  height: 250px !important;
  top: calc(100% - 250px) !important;
}

.player-role-0 .theatre-control-group {
  display: none;
}

.player-role-1 .theatre-control-group {
  display: none;
}

.theatre-control-btn {
  display: none;
}
